monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: rotating_file
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                # Or use: "debug" instead of "info" for more verbose log (debug) messages
                level: info
                # Enable full stacktrace, set this to false to disable stacktraces
                include_stacktraces: true
                max_files: 10
                channels: ['!event']
            stderr:
                type: stream
                path: 'php://stderr'
                level: info
                channels: ['!event']
            # uncomment to get logging in your browser
            # you may have to allow bigger header sizes in your Web server configuration
            #firephp:
            #    type: firephp
            #    level: info
            #chromephp:
            #    type: chromephp
            #    level: info
            console:
                type: console
                process_psr_3_messages: false
                channels: ['!event', '!doctrine', '!console']
            # uncomment if you wish to see depreciation messages to console
            # by default it's already logged to the log file
            #deprecation:
            #    type: stream
            #    channels: [deprecation]
            #    path: php://stderr
            #    formatter: monolog.formatter.json

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ['!event']
            nested:
                type: stream
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: group
                members: [nested_file, nested_stderr]
            nested_file:
                type: rotating_file
                max_files: 7
                path: '%kernel.logs_dir%/%kernel.environment%.log'
                level: warning
                formatter: monolog.formatter.json
            nested_stderr:
                type: stream
                path: 'php://stderr'
                level: warning
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ['!event', '!doctrine']
