**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
compose.*.yaml
compose.*.yml
compose.yaml
compose.yml
.github/
node_modules/
docker/storage/
docs/
public/build/
public/bundles/
public/media/
tests/
tools/
var/
vendor/
.idea/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.env
