[*.json]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 4
quote_type = single

[translations/*.yaml]
indent_style = space
indent_size = 2
quote_type = single


[.github/workflows/*.yaml]
indent_style = space
indent_size = 2
quote_type = single