# IDEA/PhpStorm
*.iml
.idea/
.DS_Store
supervisord.log
supervisord.pid
reports/
.php-cs-fixer.cache
tools/vendor/
# VSCode
.vscode/
*.session.sql

# Keys
*.pem

# Mbin specific
.env
/public/media/*
/public/media
compose.override.yml
yarn.lock
/metal/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/cache/
/var/
/vendor/
/cache/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
.phpunit.cache/
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> league/oauth2-server-bundle ###
/config/jwt/*.pem
###< league/oauth2-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
clover.xml
/coverage
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
