services:
    php:
        image: ghcr.io/mbinorg/mbin:latest
        build:
            dockerfile: docker/Dockerfile
            context: .
            target: prod
        restart: unless-stopped
        env_file: .env
        environment:
            MERCURE_PUBLISHER_JWT_KEY: ${MERCURE_JWT_SECRET}
            MERCURE_SUBSCRIBER_JWT_KEY: ${MERCURE_JWT_SECRET}
        volumes:
            - ./storage/caddy_config:/config
            - ./storage/caddy_data:/data
            - ./storage/media:/app/public/media
            - ./storage/oauth:/app/config/oauth2
            - ./storage/php_logs:/app/var/log
        ports:
            - 80:80
            - 443:443
            - 443:443/udp
        depends_on:
            - amqproxy
            - postgres
            - valkey

    messenger:
        image: ghcr.io/mbinorg/mbin:latest
        build:
            dockerfile: docker/Dockerfile
            context: .
            target: prod
        restart: unless-stopped
        command: bin/console messenger:consume scheduler_default old async outbox deliver inbox resolve receive failed --time-limit=3600
        healthcheck:
            test: ['CMD-SHELL', "ps aux | grep 'messenger[:]consume' || exit 1"]
        env_file: .env
        volumes:
            - ./storage/media:/app/public/media
            - ./storage/messenger_logs:/app/var/log
        depends_on:
            - amqproxy
            - postgres
            - valkey
        deploy:
            mode: replicated
            replicas: 6

    amqproxy:
        image: cloudamqp/amqproxy
        restart: unless-stopped
        user: ${MBIN_USER}
        command: amqp://rabbitmq:5672
        depends_on:
            rabbitmq:
                condition: service_healthy

    rabbitmq:
        image: rabbitmq:3-management-alpine
        restart: unless-stopped
        user: ${MBIN_USER}
        healthcheck:
            test: ['CMD', 'rabbitmq-diagnostics', 'check_port_connectivity']
        env_file: .env
        volumes:
            - ./storage/rabbitmq_data:/var/lib/rabbitmq
            - ./storage/rabbitmq_logs:/var/log/rabbitmq
        ports:
            - 15672:15672
        # Hostname specified to ensure persistent data: https://stackoverflow.com/questions/41330514
        hostname: rabbitmq

    postgres:
        image: postgres:${POSTGRES_VERSION}-trixie
        restart: unless-stopped
        user: ${MBIN_USER}
        shm_size: '1gb'
        healthcheck:
            test: ['CMD', 'pg_isready']
        env_file: .env
        volumes:
            - ./storage/postgres:/var/lib/postgresql/data

    valkey:
        image: valkey/valkey:trixie
        restart: unless-stopped
        user: ${MBIN_USER}
        command: valkey-server /valkey.conf --requirepass ${VALKEY_PASSWORD}
        healthcheck:
            test: ['CMD', 'valkey-cli', 'ping']
        volumes:
            - ./docker/valkey.conf:/valkey.conf
