{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit_article'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-create page-entry-edit-article{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('entry', {
        entry: entry,
        class: 'section--top'
    }) }}

    <h1 hidden>{{ 'edit_entry'|trans }}</h1>
    {% include 'layout/_flash.html.twig' %}
    <div id="content" class="section">
        <div class="container" data-controller="entry-link-create">
            {% include 'entry/_form_edit.html.twig' %}
        </div>
    </div>
{% endblock %}
