// loaded under .theme--light
// or .theme--default with prefers-color-scheme: light
@mixin theme {
  --kbin-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --kbin-body-font-size: 1rem;
  --kbin-body-font-weight: 400;
  --kbin-body-line-height: 1.5;
  --kbin-body-text-align: left;
  --kbin-body-bg: #fff;

  --kbin-bg: #ecf0f1;
  --kbin-bg-nth: #fafafa;
  

  --kbin-text-color: #1c1e20;
  --kbin-link-color: #2b6a91;
  --kbin-link-hover-color: #1c4663;
  --kbin-outline: #ff8c00 solid 4px;

  --kbin-primary-color: #61366b;
  --kbin-text-muted-color: #95a6a6;

  --kbin-success-color: #0f5132;
  --kbin-danger-color: #842029;

  --kbin-own-color: #0f5132;
  --kbin-author-color: #842029;

  // section
  --kbin-section-bg: #fff;
  --kbin-section-text-color: var(--kbin-text-color);
  --kbin-section-title-link-color: var(--kbin-link-color);
  --kbin-section-link-color: var(--kbin-link-color);
  --kbin-section-link-hover-color: var(--kbin-link-hover-color);
  --kbin-section-border: 1px solid #e5eaec;
  --kbin-author-border: 1px dashed var(--kbin-author-color);
  --kbin-own-border: 1px dashed var(--kbin-own-color);

  // meta
  --kbin-meta-bg: none;
  --kbin-meta-text-color: #222;
  --kbin-meta-link-color: #222;
  --kbin-meta-link-hover-color: var(--kbin-link-hover-color);
  --kbin-meta-border: 1px dashed #e5eaec;
  --kbin-avatar-border: 3px solid #ecf0f1;
  --kbin-avatar-border-active: 3px solid #d3d5d6;
  --kbin-blockquote-color: #0f5132;

  // options
  --kbin-options-bg: #fff;
  --kbin-options-text-color: #6f7575;
  --kbin-options-link-color: #6f7575;
  --kbin-options-link-hover-color: #32465b;
  --kbin-options-border: 1px solid #e5eaec;
  --kbin-options-link-hover-border: 3px solid #32465b;

  // forms
  --kbin-input-bg: #fff;
  --kbin-input-text-color: var(--kbin-text-color);
  --kbin-input-border: 1px solid #e5eaec;
  --kbin-input-placeholder-text-color: #929497;

  // buttons
  --kbin-button-primary-bg: #7951a7;
  --kbin-button-primary-hover-bg: #66438f;
  --kbin-button-primary-text-color: #fff;
  --kbin-button-primary-text-hover-color: #fff;
  --kbin-button-primary-border: 1px solid #66438f;

  --kbin-button-secondary-bg: #fff;
  --kbin-button-secondary-hover-bg: #f5f5f5;
  --kbin-button-secondary-text-color: var(--kbin-meta-text-color);
  --kbin-button-secondary-text-hover-color: var(--kbin-text-color);
  --kbin-button-secondary-border: 1px dashed #e5eaec;

  // header
  --kbin-header-bg: #2c074b;
  --kbin-header-text-color: #fff;
  --kbin-header-link-color: #fff;
  --kbin-header-link-hover-color: #e8e8e8;
  --kbin-header-link-active-bg: #0a0026;
  --kbin-header-border: 1px solid #e5eaec;
  --kbin-header-hover-border: 3px solid #fff;

  // topbar
  --kbin-topbar-bg: #0a0026;
  --kbin-topbar-active-bg: #150a37;
  --kbin-topbar-active-link-color: #fff;
  --kbin-topbar-hover-bg: #150a37;
  --kbin-topbar-border: 1px solid  #150a37;

  //sidebar
  --kbin-sidebar-header-text-color: #595d5e;
  --kbin-sidebar-header-border: 1px solid #e5eaec;
  --kbin-sidebar-settings-row-bg: #E5EAEC;
  --kbin-sidebar-settings-switch-on-color: #fff ;
  --kbin-sidebar-settings-switch-on-bg: var(--kbin-button-primary-bg);
  --kbin-sidebar-settings-switch-off-color: #fff ;
  --kbin-sidebar-settings-switch-off-bg: #b5c4c9;
  --kbin-sidebar-settings-switch-hover-bg: #9992BC;

  //vote
  --kbin-vote-bg: #e7e7e7;
  --kbin-vote-text-color: #1f1f1f;
  --kbin-vote-text-hover-color: #000;
  --kbin-upvoted-color: #0f5132;
  --kbin-downvoted-color: #842029;

  //boost
  --kbin-boosted-color: var(--kbin-upvoted-color);

  // alerts
  --kbin-alert-info-bg: #fff3cd;
  --kbin-alert-info-border: 1px solid #ffe69c;
  --kbin-alert-info-text-color: #997404;
  --kbin-alert-info-link-color: #997404;

  --kbin-alert-danger-bg: #f8d7da;
  --kbin-alert-danger-border: 1px solid #f5c2c7;
  --kbin-alert-danger-text-color: var(--kbin-danger-color);
  --kbin-alert-danger-link-color: var(--kbin-danger-color);

  //entry
  --kbin-entry-link-visited-color: #7e8f99;

  // details
  --mbin-details-border: var(--kbin-section-border);
  --mbin-details-separator-border: var(--kbin-meta-border);

  --mbin-details-detail-color: var(--kbin-link-hover-color);
  --mbin-details-spoiler-color: var(--kbin-danger-color);
}
