<div id="emoji-suggestions" class="suggestions">
    {% for emoji in emojis %}
        <div class="suggestion" data-replace="{{ emoji.emoji }}">
            {{ emoji.shortCode }}
            <span>{{ emoji.emoji }}</span>
        </div>
    {% endfor %}
</div>
