.entry-inline,
.entry-comment-inline,
.post-inline,
.post-comment-inline {
  display: inline-block;
  font-weight: bold;
  border: var(--kbin-section-border);
  padding: .25em;
  background: var(--kbin-bg);

  a .fa-photo-film {
    margin-right: .25em;
  }
}

.rounded-edges {
  .entry-inline,
  .entry-comment-inline,
  .post-inline,
  .post-comment-inline {
    border-radius: var(--kbin-rounded-edges-radius);
  }
}
