.page-login,
.page-register,
.page-reset-password,
.page-reset-password-email-sent,
.page-resend-activation-email {
  #content .container {
    margin: 0 auto;
    max-width: 30rem;

    p {
      margin-bottom: .5rem;
    }

    a {
      font-weight: bold;
    }

    .separator:has(+ div a), .separator:has(+ p) {
      border: var(--kbin-section-border);
      height: 0;
      margin: 15px 30px;
    }

    .actions {
      margin-top: 1rem;
      display: block;
    }

    .social {
      grid-template-columns: repeat(1, 1fr);
      @include media-breakpoint-up(lg) {
        &:has(a + a) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      display: grid;
      gap: 0.5rem;
      justify-content: center;

      a {
        text-align: center;
      }
    }
  }
}

.page-2fa {
  #content .container {
    margin: 0 auto;
    max-width: 30rem;

    .actions {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.page-reset-password-email-sent {
  p:last-of-type {
    margin-top: 2rem;
    text-align: right;
  }
}
