@use '../layout/breakpoints' as b;
@use '../mixins/animations' as ani;
@use '../mixins/mbin';

.post-add {
  .ts-control {
    min-width: 18rem;
  }

  .row {
    flex-wrap: wrap-reverse;
    margin-bottom: 0;

    @include b.media-breakpoint-down(sm) {
      display: block;

      > div {
        margin-bottom: 1rem;
      }
    }
  }

  div {
    margin-bottom: 0;
  }
}

.post {
  display: grid;
  font-size: .9rem;
  grid-gap: .5rem;
  grid-template-areas:   "vote header header"
                         "vote body body"
                         "vote meta meta"
                         "vote footer footer"
                         "moderate moderate moderate";
  grid-template-columns: min-content auto min-content;
  margin: 0 0 .5rem;
  padding: var(--kbin-entry-element-spacing);
  position: relative;
  z-index: 2;

  @include b.media-breakpoint-down(sm) {
    grid-template-areas: "vote header header"
                         "body body body"
                         "meta meta meta"
                         "footer footer footer"
                         "moderate moderate moderate";
  }

  &:hover,
  &:focus-visible {
    z-index: 3;
  }

  header {
    color: var(--kbin-meta-text-color);
    font-size: .8rem;
    grid-area: header;
    margin-bottom: 0;
    opacity: .75;

    a:not(.notification-setting) {
      color: var(--kbin-meta-link-color);
      font-weight: bold;

      time {
        font-weight: normal;
      }
    }
  }

  .content {
    p:last-child {
      margin-bottom: 0;
    }
  }

  aside:not(.notification-switch) {
    grid-area: vote;
  }

  div {
    grid-area: body;

    p {
      margin-top: 0
    }
  }

  > figure {
    grid-area: avatar;
    margin: 0;
    display: none;

    img {
      border: var(--kbin-avatar-border);
    }
  }

  footer {
    color: var(--kbin-meta-text-color);
    font-weight: 300;
    grid-area: footer;

    .boosts {
      font-size: .75rem;
      opacity: .75;
    }

    menu {
      column-gap: 1rem;
      display: grid;
      grid-area: meta;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      list-style: none;
      font-size: .8rem;
      opacity: .75;
      position: relative;
      z-index: 4;

      & > li {
        line-height: 1rem;
      }

      & > a:not(.notification-setting).active,
      & > li button.active {
        text-decoration: underline;
      }

      button,
      a:not(.notification-setting) {
        font-size: .8rem;
        @include mbin.btn-link;
      }

      li:first-child a {
        padding-left: 0;
      }
    }

    a:not(.notification-setting) {
      @include mbin.btn-link;
    }

    figure {
      display: block;
      margin: .5rem 0;
    }

    button {
      position: relative;
    }
  }

  .loader {
    height: 20px;
    position: absolute;
    width: 20px;
  }

  &:hover,
  &:focus-within {
    header, footer menu, footer .boosts {
      @include ani.fade-in(.5s, .75);
    }
  }

  &--single {
    border-top: 0;
    margin-top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .entry__body {
      padding: 0 2rem;
    }
  }
}

.show-comment-avatar {
  .comment>figure {
    display: block;
  }
}

.show-post-avatar {
  .post>figure {
    display: block;
  }
}
.post-comments-preview {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}
