@use '../layout/breakpoints' as b;
@use '../mixins/animations' as ani;
@use '../mixins/mbin';

.post-add {
  .ts-control {
    min-width: 18rem;
  }

  .row {
    flex-wrap: wrap-reverse;
    margin-bottom: 0;

    @include b.media-breakpoint-down(sm) {
      display: block;

      > div {
        margin-bottom: 1rem;
      }
    }
  }

  div {
    margin-bottom: 0;
  }
}

.post-container {
  margin: 0 0 1rem;
}

blockquote.post {
  display: grid;
  font-size: .9rem;
  grid-gap: .5rem;
  grid-template-areas:   "vote header header"
                         "vote body body"
                         "vote meta meta"
                         "vote footer footer"
                         "moderate moderate moderate";
  grid-template-columns: min-content auto min-content;
  margin: 0 0 .5rem;
  padding: var(--kbin-entry-element-spacing);
  position: relative;
  z-index: 2;

  @include b.media-breakpoint-down(sm) {
    grid-template-areas: "vote header header"
                         "body body body"
                         "meta meta meta"
                         "footer footer footer"
                         "moderate moderate moderate";
  }

  &:hover,
  &:focus-visible {
    z-index: 3;
  }

  header {
    grid-area: header;
    color: var(--kbin-meta-text-color);
    font-size: .8rem;
    margin-bottom: 0;
    opacity: .75;

    a:not(.notification-setting) {
      color: var(--kbin-meta-link-color);
      font-weight: bold;

      time {
        font-weight: normal;
      }
    }
  }

  .content {
    p:last-child {
      margin-bottom: 0;
    }
  }

  aside:not(.notification-switch) {
    grid-area: vote;
  }

  div {
    grid-area: body;

    p {
      margin-top: 0
    }
  }

  > figure {
    grid-area: avatar;
    margin: 0;
    display: none;

    img {
      border: var(--kbin-avatar-border);
    }
  }

  .vote {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
  }

  footer {
    color: var(--kbin-meta-text-color);
    font-weight: 300;
    grid-area: footer;

    .boosts {
      font-size: .75rem;
      opacity: .75;
    }

    menu {
      column-gap: 1rem;
      display: grid;
      grid-area: meta;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      list-style: none;
      font-size: .8rem;
      opacity: .75;
      position: relative;
      z-index: 4;

      & > li {
        line-height: 1rem;
      }

      & > a:not(.notification-setting).active,
      & > li button.active {
        text-decoration: underline;
      }

      button,
      a:not(.notification-setting) {
        font-size: .8rem;
        @include mbin.btn-link;
      }

      li:first-child a {
        padding-left: 0;
      }
    }

    a:not(.notification-setting) {
      @include mbin.btn-link;
    }

    figure {
      display: block;
      margin: .5rem 0;
    }

    button {
      position: relative;
    }
  }

  .loader {
    height: 20px;
    position: absolute;
    width: 20px;
  }

  &:hover,
  &:focus-within {
    header, footer menu, footer .boosts {
      @include ani.fade-in(.5s, .75);
    }
  }

  &--single {
    border-top: 0;
    margin-top: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .entry__body {
      padding: 0 2rem;
    }
  }
}

article.post {
  display: grid;
  grid-template-areas: "vote image header"
                       "vote image shortDesc"
                       "vote image meta"
                       "vote image footer"
                       "moderate moderate moderate"
                       "preview preview preview";
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: 1fr min-content;
  padding: 0;
  position: relative;
  z-index: 2;

  &.no-image {
    grid-template-areas: "vote shortDesc"
                         "header meta"
                         "header footer"
                         "moderate moderate"
                         "preview preview";
    grid-template-columns: min-content 1fr;
  }

  header,
  .vote,
  figure,
  .no-image-placeholder,
  .short-desc,
  footer,
  &__meta {
    margin-left: var(--kbin-entry-element-spacing);
  }

  @include b.media-breakpoint-down(sm) {
    grid-template-areas: "image image"
                         "vote header"
                         "vote shortDesc"
                         "meta meta"
                         "footer footer"
                         "moderate moderate"
                         "preview preview";
    grid-template-columns: min-content 1fr;

    header,
    .vote,
    .short-desc,
    footer,
    &__meta {
      margin-left: var(--kbin-entry-element-spacing);
    }

    &.no-image {
      grid-template-areas: "vote header"
                           "vote shortDesc"
                           "meta meta"
                           "footer footer"
                           "moderate moderate"
                           "preview preview";
      grid-template-columns: min-content 1fr;
    }

    .view-compact & {
      grid-template-areas: "shortDesc shortDesc shortDesc vote"
                           "header meta meta image"
                           "footer footer footer image"
                           "moderate moderate moderate moderate"
                           "preview preview preview preview";
      grid-template-columns: max-content 1fr min-content min-content;

      .vote {
        justify-content: right;
        margin-right: var(--kbin-entry-element-spacing);
        margin-left: 0;
      }

      header {
        margin-top: 0.2rem;
        margin-bottom: 0;
        flex-flow: row-reverse;
      }

      .short-desc {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;

        p {
          max-height: 3lh;
          margin-bottom: 0;
        }
      }
    }

    .view-compact &.no-meta {
      grid-template-areas: "shortDesc vote"
                           "header header"
                           "meta meta"
                           "footer footer"
                           "moderate moderate"
                           "preview preview";
      grid-template-columns: 1fr min-content;
    }
  }

  @include b.media-breakpoint-up(sm) {
    .view-compact & {
      grid-template-areas: "vote header image"
                           "vote shortDesc image"
                           "vote meta image"
                           "vote footer image"
                           "moderate moderate moderate"
                           "preview preview preview";
      grid-template-columns: min-content 1fr min-content;

      header {
        margin-top: 0.2rem;
        margin-bottom: 0;
      }

      .short-desc {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;

        p {
          max-height: 3lh;
          margin-bottom: 0;
        }
      }
    }
  }

  &:hover,
  &:focus-visible {
    z-index: 3;
  }

  .vote {
    grid-area: vote;
    margin-top: var(--kbin-entry-element-spacing);
    margin-bottom: var(--kbin-entry-element-spacing);
  }

  figure,
  .no-image-placeholder {
    position: relative;
    grid-area: image;
    margin: var(--kbin-entry-element-spacing) 0 var(--kbin-entry-element-spacing) var(--kbin-entry-element-spacing);
    width: 170px;
    height: calc(170px / 1.5); // 3:2 ratio
    justify-self: right;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
      -o-object-fit: contain;
    }

    .image-filler {
      background: var(--kbin-vote-bg);
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        filter: brightness(85%);
      }
    }

    .rounded-edges &,
    .rounded-edges & .image-filler {
      border-radius: var(--kbin-rounded-edges-radius);
    }

    .view-compact & {
      width: 170px;
      height: 100%;
      margin: 0 0 0 var(--kbin-entry-element-spacing);
    }

    .rounded-edges .view-compact & {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    .figure-badge {
      bottom: .25rem;
      right: .25rem;
      gap: .25rem;
    }

    .sensitive-button-label {
      line-height: 1rem;
    }

    @include b.media-breakpoint-down(lg) {
      width: 140px;
      height: calc(140px / 1.5); // 3:2 ratio
    }

    @include b.media-breakpoint-down(sm) {
      margin: 0;
      height: 110px;
      width: 100%;

      .view-compact & {
        margin: 0 10px 10px 10px;
        height: calc(100% - 10px);
        width: calc(100% - 10px);

        .sensitive-button-hide {
          display: none;
        }

        .figure-badge {
          display: none;
        }
      }

      .rounded-edges & {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .rounded-edges .view-compact & {
        border-radius: var(--kbin-rounded-edges-radius) !important;
      }
    }
  }

  .no-image-placeholder {
    background: var(--kbin-vote-bg);
    font-size: 2.5rem;

    a {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    i {
      color: var(--kbin-vote-text-color);
      opacity: .5;
    }

    .view-compact & {
      display: none;
    }

    @include b.media-breakpoint-down(sm) {
      display: none;
    }
  }

  &.no-image {
    figure {
      display: none;
    }

    .short-desc {
      @include b.media-breakpoint-up(sm) {
        max-height: 1lh;
      }
    }
  }

  header {
    grid-area: header;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: var(--kbin-entry-element-spacing);
    overflow-wrap: anywhere;

    h2, h1 {
      font-size: 1.0rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;

      a:visited {
        color: var(--kbin-entry-link-visited-color);
      }

      a:hover {
        color: var(--kbin-link-hover-color);
      }
    }

    h1 {
      font-size: 1.3rem;
    }
  }

  .short-desc {
    grid-area: shortDesc;

    p {
      font-size: .85rem;
      margin: 0 var(--kbin-entry-element-spacing) 1rem 0;
    }
  }

  &__preview {
    grid-area: preview;
    margin: 0.5rem;
  }

  &__meta {
    grid-area: meta;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.25rem;

    .edited {
      font-style: italic;
    }
  }

  footer {
    grid-area: footer;
    align-self: flex-end;
    margin-bottom: var(--kbin-entry-element-spacing);

    menu {
      column-gap: 1rem;
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      list-style: none;
      opacity: .75;

      & > li {
        line-height: 1rem;
      }

      & > a.active,
      & > li button.active {
        text-decoration: underline;
      }

      button, input[type='submit'], a:not(.notification-setting) {
        @include mbin.btn-link;
      }
    }

    .view-compact & {
      margin-bottom: 0.3rem;
    }
  }

  .loader {
    height: 20px;
    position: absolute;
    width: 20px;
  }

  &:hover,
  &:focus-within {
    footer menu,
    .entry__meta {
      @include ani.fade-in(.5s, .75);
    }
  }

  small {
    font-size: .75rem;
  }

  .badge {
    display: inline-block;
    position: relative;
    top: -2px;
    padding: .25rem;
  }
}

.show-comment-avatar {
  .comment>figure {
    display: block;
  }
}

.show-post-avatar {
  .post>figure {
    display: block;
  }
}
.post-comments-preview {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}
