@use '../layout/breakpoints' as b;

.rounded-edges .sidebar-subscriptions .active {
  border-radius: 0.5rem;
}

.mbin-container.width--fixed {
  .sidebar-subscriptions:not(.inline) .subscription-list .subscription a {
    max-width: calc(max(305px, 1360px / 6) - 3rem);
  }

  .sidebar-subscriptions.inline .subscription-list .subscription a {
    max-width: calc(max(305px, 1360px / 4) - 3rem);
  }
}

.mbin-container.width--auto {
  .sidebar-subscriptions:not(.inline) .subscription-list .subscription a {
    max-width: calc(max(305px, 85vw / 6) - 3rem);
  }

  .sidebar-subscriptions.inline .subscription-list .subscription a {
    max-width: calc(max(305px, 85vw / 4) - 3rem);
  }
}

.mbin-container.width--max {
  .sidebar-subscriptions:not(.inline) .subscription-list .subscription a {
    max-width: calc(max(305px, 100vw / 6) - 3rem);
  }

  .sidebar-subscriptions.inline .subscription-list .subscription a {
    max-width: calc(max(305px, 100vw / 4) - 3rem);
  }
}

#sidebar .sidebar-subscriptions,
.sidebar-subscriptions {
  height: fit-content;

  &:not(.inline) {
    padding: 0 0.5rem;
  }

  &.inline {
    padding-bottom: unset;
  }

  .sidebar-subscriptions-icons {
    float: right;

    @include b.media-breakpoint-down(lg) {
      display: none;
    }
  }

  .inline .subscription-list {
    max-height: 20em;
    overflow: auto;
    &.lg {
      max-height: 40em;
    }
  }

  .inline .magazine-subscription-avatar-placeholder {
    display: inline-block;
  }

  :not(.inline) .magazine-subscription-avatar-placeholder {
    display: none;
  }

  .section {
    padding: 0.5rem 0.5rem 0;

    @include b.media-breakpoint-down(lg) {
      padding: 0.5rem;
    }
  }

  h3 {
    margin: 0 0 .5rem;

    @include b.media-breakpoint-down(lg) {
      margin: 0;
    }
  }
  .subscription-list {

    &.meta :first-child {
      border-top: unset;
    }

    @include b.media-breakpoint-down(lg) {
      display: flex;
      flex-direction: row;
      overflow-y: auto;
      max-width: calc(-2rem + 100vw);
    }

    .subscription {
      padding: 0.5rem;

      @include b.media-breakpoint-down(lg) {
        min-width: max-content;
      }

      &:not(:last-child) {
        @include b.media-breakpoint-up(lg) {
          border-bottom: var(--kbin-meta-border);
        }

        @include b.media-breakpoint-down(lg) {
          border-right: var(--kbin-meta-border);
        }
      }

      &:last-child {
        border-bottom: unset;
      }

      .magazine-subscription-avatar {
        margin: 0;
        height: 1.5rem;
        max-height: 1.5rem;
        width: 1.5rem;
        max-width: 1.5rem;
        object-fit: scale-down;
        border-radius: 50%;
        vertical-align: middle;
        &.onlyMobile {
          @include b.media-breakpoint-up(lg) {
            display: none;
          }
        }
      }

      .magazine-subscription-avatar-placeholder{
        width: 1.5rem;
        @include b.media-breakpoint-down(lg) {
          display: none;
        }
        &.onlyMobile {
          @include b.media-breakpoint-up(lg) {
            display: none;
          }
        }
      }

      &.active {
        background-color: var(--kbin-bg);
      }

      a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .magazine-name {
          font-weight: bold;
          display: inline;

          &.has-image {
            margin-left: .25rem;
            &.onlyMobile {
              @include b.media-breakpoint-up(lg) {
                margin-left: 0;
              }
            }
            @include b.media-breakpoint-down(lg) {
              display: none;
            }
          }
        }
      }
    }
  }
}
