$grid-breakpoints: (
        xs: 0,
        sm: 690px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$aspect-ratios: (
        "1x1": 100%,
        "4x3": calc(3 / 4 * 100%),
        "16x9": calc(9 / 16 * 100%),
        "21x9": calc(9 / 21 * 100%)
) !default;

:root {
  // these variables are common to all themes

  --kbin-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  --kbin-rounded-edges-radius: .5rem;

  // buttons
  --kbin-button-danger-bg:  #842029;
  --kbin-button-danger-hover-bg: #921d27;
  --kbin-button-danger-text-color: #fff;
  --kbin-button-danger-text-hover-color: #fff;
  --kbin-button-danger-border: 1px dashed #842029;

  // topbar
  --kbin-topbar-link-color: #fff;

  // alerts
  --kbin-alert-success-bg: var(--kbin-success-color);
  --kbin-alert-success-border: 1px solid var(--kbin-success-color);
  --kbin-alert-success-text-color: #fff;
  --kbin-alert-success-link-color: #fff;

  //fontawesome
  --kbin-font-awesome-font-family: "Font Awesome 6 Free";

}
