.page-search {
  .search-hashtags-list {
    list-style: none;
    padding-left: 0;

    li {
      min-height: 3rem;
      padding: .5rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      border-bottom: var(--kbin-meta-border);
    }
  }
}
