{% for flash_error in app.flashes('error') %}
    <div class="alert alert__danger">{{ flash_error|trans }}</div>
{% endfor %}
{% for flash_success in app.flashes('success') %}
    <div class="alert alert__success">{{ flash_success|trans }}</div>
{% endfor %}
