name: Contributor Workflow
on:
  push:
    branches:
      - main

jobs:
  contrib-readme:
    runs-on: ubuntu-latest
    name: Update contrib in README
    permissions:
          contents: write
          pull-requests: write
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.11
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
